@model AdList.Web.ViewModels.Messages.InboxViewModel
@{
    ViewBag.Title = "Inbox";
}

<h2>Inbox</h2>

<div>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="thumbnail">
                    <img alt="avatar" class="avatar" src="/images/default-avatar.jpg">
                    <h4>Personal information:</h4>
                    <ul class="list-group">
                        <li class="list-group-item"><i class="fa fa-user"></i><span class="list-group-item-text"> @Model.User.UserName</span></li>
                        <li class="list-group-item"><i class="glyphicon glyphicon-user"></i><span class="list-group-item-text"> @Model.User.FirstName @Model.User.LastName</span></li>
                        <li class="list-group-item"><i class="glyphicon glyphicon-phone"></i><span class="list-group-item-text"> @Model.User.PhoneNumber</span></li>
                        <li class="list-group-item"><i class="glyphicon glyphicon-globe"></i><span class="list-group-item-text"> @Model.User.City</span></li>
                        <li class="list-group-item">
                            <a href="/Manage">
                                <i class="fa fa-gear"></i><span class="list-group-item-heading"> Settings</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-9 well">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#inbox" target="_self" data-toggle="tab"><span class="glyphicon glyphicon-inbox"></span> Inbox</a></li>
                    <li><a href="#sent" target="_self" data-toggle="tab"><span class="glyphicon glyphicon-user"></span> Sent</a></li>
                </ul>
                <div class="tab-content">
                    <div id="inbox" class="tab-pane active">
                        <div class="list-group">
                            <!-- Repeat: message in messages --><!-- If: messages -->
                            @if (Model.Messages.Count() > 0)
                            {
                                foreach (var message in Model.Messages)
                                {
                                    <div class="list-group-item">
                                        <div class="row">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#@message.Id" target="_self">
                                                <img alt="avatar" class="col-xs-1 media-object" src="/images/default-avatar.jpg"><span class="text-muted col-xs-2">@message.From.UserName</span>
                                                <span class="label label-default">@message.CreatedOn.ToString("dd MMM yyyy, HH:mm")</span>
                                                <span class="label label-danger">New</span>
                                                <div class="col-xs-3">@message.Title</div>
                                            </a>
                                            <a href="/Messages/Send?userId=@message.FromId" class="col-md-2 pull-right"><i class="fa fa-reply"></i> Reply</a>
                                        </div>
                                        <div id="@message.Id" class="collapse">
                                            <div class="col-md-offset-2 well">@message.Content</div>
                                        </div>
                                    </div>
                                }
                            }
                            else
                            {
                                 <!-- end If: messages --><!-- end Repeat: message in messages -->
                                <div class="list-group-item">
                                    <h3 class="text-info">No messages</h3>
                                </div>
                            }
                        </div>
                    </div>
                    <div id="sent" class="tab-pane">
                        <div class="list-group">
                            <!-- Repeat: message in messagesByMe --><!-- If: messagesByMe -->
                            @if (Model.MessagesByMe.Count() > 0)
                            {
                                foreach (var message in Model.MessagesByMe)
                                {
                                    <div class="list-group-item">
                                        <div class="row">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#@message.Id" target="_self">
                                                <img alt="avatar" class="col-xs-1 media-object" src="/images/default-avatar.jpg"><span class="text-muted col-xs-2">@message.To.UserName</span>
                                                <span class="label label-default">@message.CreatedOn.ToString("dd MMM yyyy, HH:mm")</span>
                                                <span class="label label-danger">New</span>
                                                <div class="col-xs-3">@message.Title</div>
                                            </a>
                                            <a href="/Messages/Send?userId=@message.ToId" class="col-md-2 pull-right"><i class="fa fa-plus"></i> new</a>
                                        </div>
                                        <div id="@message.Id" class="collapse">
                                            <div class="col-md-offset-2 well">@message.Content</div>
                                        </div>
                                    </div>
                                }
                            }
                            else
                            {
                                 <!-- end If: messagesByMe --><!-- end Repeat: message in messagesByMe -->
                                <div class="list-group-item">
                                    <h3 class="text-info">No messages</h3>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--TODO: chnage sent messages collection-->
</div>

