@using PagedList.Mvc;
@model PagedList.PagedList<AdList.Web.ViewModels.Ads.AdDetailViewModel>


<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "All Ads";
}

<h2>All Ads</h2>

@using (Html.BeginForm("Index", "Admin", FormMethod.Get))
{
    <p>
        Find by title: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Search" />
    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Title", "Index", new { sortOrder = ViewBag.NameSortParm })
        </th>
        <th>
            Category
        </th>
        <th>
            Description
        </th>
        <th>
            Price
        </th>
        <th>
            @Html.ActionLink("Created On", "Index", new { sortOrder = ViewBag.DateSortParm })
        </th>
        <th>
            Featured
        </th>
        <th>
            Author
        </th>
        <th>
            Action
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Name)
            </td>
            <td>
                @String.Format("{0}", @item.Description.Length > 50 ? @item.Description.Substring(0, 50) + "..." : @item.Description)

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @item.CreatedOn.ToString("dd MMM yyyy HH:mm")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Featured)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author.FirstName) @Html.DisplayFor(modelItem => item.Author.LastName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", "Ads", routeValues: new { id = item.Id }, htmlAttributes: null) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>

<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
