@model AdList.Web.ViewModels.User.UserProfileViewModel
@{
    ViewBag.Title = "User";
}

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="thumbnail">
                <img alt="avatar" class="avatar" src="/images/default-avatar.jpg">
                <h4>Personal information:</h4>
                <ul class="list-group">
                    <li class="list-group-item"><i class="fa fa-user"></i><span class="list-group-item-text"> admin</span></li>
                    <li class="list-group-item"><i class="glyphicon glyphicon-user"></i><span class="list-group-item-text"> @Model.FirstName @Model.LastName</span></li>
                    <li class="list-group-item"><i class="glyphicon glyphicon-phone"></i><span class="list-group-item-text"> @Model.PhoneNumber</span></li>
                    <li class="list-group-item"><i class="glyphicon glyphicon-globe"></i><span class="list-group-item-text"> @Model.City</span></li>
                    <li class="list-group-item">
                        <a href="/send-message/user001">
                            <i class="fa fa-envelope"></i><span class="list-group-item-heading"> Send message</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-8">
            <div class="pagination" data-pagination="" data-num-pages="numPages()" data-current-page="currentPage" data-max-size="maxSize" data-boundary-links="true">
                <ul>
                    <!-- ngRepeat: page in pages -->
                    <li ng-repeat="page in pages" ng-class="{active: page.active, disabled: page.disabled}" class="disabled">
                        <a ng-click="selectPage(page.number)">First</a>
                    </li>
                </ul>
            </div>
            <div class="row">
                @Html.Partial("_AdsPartial", Model.Ads)
            </div>
        </div>
    </div>
</div>


