@model AdList.Web.ViewModels.User.UserProfileViewModel
@{
    ViewBag.Title = "Profile";
}

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="thumbnail">
                <img alt="avatar" class="avatar" src="/images/default-avatar.jpg">
                <h4>Personal information:</h4>
                <ul class="list-group">
                    <li class="list-group-item"><i class="fa fa-user"></i><span class="list-group-item-text"> @Model.UserName</span></li>
                    <li class="list-group-item"><i class="glyphicon glyphicon-user"></i><span class="list-group-item-text"> @Model.FirstName @Model.LastName</span></li>
                    <li class="list-group-item"><i class="glyphicon glyphicon-phone"></i><span class="list-group-item-text"> @Model.PhoneNumber</span></li>
                    <li class="list-group-item"><i class="glyphicon glyphicon-globe"></i><span class="list-group-item-text"> @Model.City</span></li>
                    <li class="list-group-item">
                        <a href="#/settings">
                            <i class="fa fa-gear"></i><span class="list-group-item-heading"> Settings</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-4">
                    @using (Html.BeginForm("MyAds", "User", FormMethod.Get, new { @class = "navbar-form", role = "search" }))
                    {
                        <div class="input-group">
                            @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "form-control", placeholder = "Search" })
                            <div class="input-group-btn">
                                <button type="submit" value="Search" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
                            </div>
                        </div>
                    }
                </div>
                <div class="col-md-4">
                    <ul class="sort-links">
                        <li>Sorty by:</li>
                        <li>@Html.ActionLink("Title", "MyAds", "User", new { SearchString = ViewBag.CurrentFilter as string, sortOrder = ViewBag.NameSortParm }, null)</li>
                        <li>@Html.ActionLink("Date", "MyAds", "User", new { SearchString = ViewBag.CurrentFilter as string, sortOrder = ViewBag.DateSortParm }, null)</li>

                    </ul>
                </div>
            </div>
            <br>
            <div class="row">
                @foreach (var ad in Model.Ads)
                {
                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <a href="/ads/details/@ad.Id" title="@ad.Title">
                                <div style="background-image:url('/images/@ad.ImageUrl')" class="ratio"></div>
                            </a>
                            <div class="caption">
                                <h4 class="price-tag pull-right">$@{ @ad.Price.ToString("#.##"); }</h4>
                                <h4 class="truncate"><a href="/ads/details/@ad.Id">@ad.Title</a></h4>
                                <p class="truncate">@ad.Description</p>
                            </div>
                            <div class="ratings">
                                <p class="pull-right">15 reviews</p>
                                <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                </p>
                                <a href="#/items/5437b93a08ccfa02000c236e/edit" class="btn btn-success btn-block">Edit</a>
                            </div>
                        </div>
                    </div>
                }                             
            </div>
            <br />
            @Html.Partial("_PagingPartial", Model.Ads)
            
        </div>
    </div>
</div>


