@model AdList.Web.ViewModels.Home.HomeViewModel
@using PagedList.Mvc;
@{
    ViewBag.Title = "All Ads";
}

<section>
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    @using (Html.BeginForm("All", "Ads", FormMethod.Get, new { @class = "navbar-form", role = "search" }))
                    {
                        <div class="input-group">
                            @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "form-control", placeholder = "Search" })
                            <div class="input-group-btn">
                                <button type="submit" value="Search" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
                            </div>
                        </div>
                    }
                </div>
                <div class="col-md-3">
                    <ul class="sort-links">
                        <li>Sorty by:</li>
                        <li>@Html.ActionLink("Title", "All", new { sortOrder = ViewBag.NameSortParm })</li>
                        <li>@Html.ActionLink("Date", "All", new { sortOrder = ViewBag.DateSortParm })</li>
                    </ul>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-3">
                    <div class="list-group">
                        @{
                            foreach (var category in Model.Categories)
                            {
                                <a href="/category/@category.Name" class="list-group-item">@category.Name</a>
                            }
                        }
                    </div>
                </div>
                <div class="col-md-9">

                    @Html.Partial("_AdsPartial", Model.Ads)

                    <br />
                    Page @(Model.Ads.PageCount < Model.Ads.PageNumber ? 0 : Model.Ads.PageNumber) of @Model.Ads.PageCount

                    @Html.PagedListPager(Model.Ads, page => Url.Action("All",
                        new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))

                </div>
            </div>
        </div>
    </div>
</section>

